*
!*/
!*/*/
!*/*/*/
!*/*/*/*/
!*/*/*/*/*/
!*.java
!HAL/lib/*
# only allow scource files
#!HAL/**.java
#!LEARN_HERE/**.java
#!Testing/**.java
#!Examples/**
#!.gitignore
!HalColorSchemes.jar
!manual.pdf
!FrameworkPresentation.pdf
#.DS_Store
