*
# only allow scource files
!Framework/*
!LEARN_HERE/*
!Testing/*
!Raf/*
!Examples/*
!Testing/*
!.gitignore
!HalColorSchemes.jar
!manual.pdf
!Py4jHalTools.py
!FrameworkPresentation.pdf
.DS_Store
